<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ptit.btl.moviedb"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.ptit.btl.moviedb.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ptit.btl.moviedb.screen.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ptit.btl.moviedb.screen.home.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ptit.btl.moviedb.screen.detail.DetailActivity"
            android:label=""
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ptit.btl.moviedb.screen.movies.MoviesActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ptit.btl.moviedb.screen.movies.MoviesByCastActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ptit.btl.moviedb.screen.movies.MoviesByProductionActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.ptit.btl.moviedb.screen.movies.MoviesByCrewActivity"/>
        <activity android:name="com.ptit.btl.moviedb.screen.movies.MoviesBySearchActivity"/>
        <activity
            android:name="com.ptit.btl.moviedb.screen.youtube.YoutubeActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.ptit.btl.moviedb.screen.movies.MoviesByGenreActivity"/>
        <activity android:name="com.ptit.btl.moviedb.screen.movies.MoviesByFavourite"/>
    </application>
</manifest>
